#topicPage {
  padding-top: 3%;
  color: white;

  #mainTitle {
    font-size: 60px;
  }

  #mainSubTitle {
    font-size: 20px;
    margin-bottom: 3%;
  }

  #countPlot {
    color: white;
    margin-top: 5%;
    margin-left: 20%;
  }

  text {
    fill: white !important;
  }
}
