.navbar {
  a {
    color: white !important;
    font-size: 22px;
  }
}

.black {
  background-color: black !important;
  border-color: black !important;
}

.blue {
  background-color:black !important;
  background-color:black !important;
}

